SPRING_PROFILES_ACTIVE=dev
PORT=8080
DATABASE_URL=jdbc:postgresql://localhost:5432/devdb
DB_USERNAME=tu_usuario_aqui
DB_PASSWORD=tu_contraseña_aqui

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

JWT_SECRET=tu_secreto_largo_aqui
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000
JWT_ISSUER=fundamentos01-api

ROOT_LOG_LEVEL=INFO
APP_LOG_LEVEL=DEBUG